.center-content {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  display: inline-block;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px #20202020, 4px 6px 16px #20202010;
}

.error .title {
  font-size: 2rem;
}

.error .message {
  margin-top: 1.25rem;
  color: #e63746;
}
